<%= form_with(model: department, local: true) do |form| %>
  <% if department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>  
      </ul>
    </div>
  <% end %>
    <div class="mb-3">
      <strong><%= form.label :complete_name, Department.human_attribute_name("complete_name").titleize, class:"form-label"%></strong>
      <%= form.text_field :complete_name, class:"form-control" %>
    </div>
    <div class="mb-3">
      <strong><%= form.label :name, Department.human_attribute_name("name").titleize, class:"form-label"%></strong>
      <%= form.text_field :name, class:"form-control" %>
    </div>
    <div class="mb-3">
      <strong><%= form.label :national_id, Department.human_attribute_name("national_id").titleize, class:"form-label"%></strong>
      <%= form.number_field :national_id, class:"form-control" %>
    </div>
    <div class="mb-3">
      <strong><%= form.label :province, Department.human_attribute_name("province").titleize, class:"form-label"%></strong>
      <%= form.collection_select :province_id, Province.all, :id, :name, {prompt: "Seleccionar"}, {class: "select2 form-control"}  %>
    </div>
    <div class="mb-3">
      <strong><%= form.label :category, Department.human_attribute_name("category").titleize, class:"form-label"%></strong>
      <%= form.text_field :category, class:"form-control" %>
    </div>
    <div class="mb-3">
      <strong><%= form.label :lat, Department.human_attribute_name("lat").titleize, class:"form-label"%></strong>
      <%= form.text_field :lat, class:"form-control" %>
    </div>
    <div class="mb-3">
      <strong><%= form.label :lon, Department.human_attribute_name("lon").titleize, class:"form-label"%></strong>
      <%= form.text_field :lon, class:"form-control" %>
    </div>

  <div class="actions">
    <%= link_to 'Volver', :back, class: "btn btn-primary" %>
    <%= form.submit class: "btn btn-success" %>
<% end %>
