<!-- Breadcrumbs-->
<div class="p-2">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item">
      <a href="/">Inicio</a>
    </li>
    <li class="breadcrumb-item active"><a href="<%= departments_path%>"> <%= Department.model_name.human(count: 2)%></a></li>
  </ol>
</div>
<div class="card mx-auto my-2">
  <div class="card-header">
    <i class="fa fa-table"></i>
    <%= Department.model_name.human(count: 2).titleize%>
  </div>
  <div class="card-body">
    <table class="datatable responsive nowrap table table-hover">
      <thead>
        <tr>
          <th><%= Department.human_attribute_name("complete_name").titleize%></th>
          <th><%= Department.human_attribute_name("name").titleize%></th>
          <th><%= Department.human_attribute_name("national_id").titleize%></th>
          <th><%= Department.human_attribute_name("province").titleize%></th>
          <th><%= Department.human_attribute_name("category").titleize%></th>
          <th><%= Department.human_attribute_name("lat").titleize%></th>
          <th><%= Department.human_attribute_name("lon").titleize%></th>
          <th>Opciones</th>
        </tr>

      </thead>

      <tbody>
        <% @departments.each do |department| %>
          <tr>
              <td><%=department.complete_name%></td>
              <td><%=department.name%></td>
              <td><%=department.national_id%></td>
              <td><%=department.province%></td>
              <td><%=department.category%></td>
              <td><%=department.lat%></td>
              <td><%=department.lon%></td>
            <td>
              <%= link_to((fa_icon "eye"), department) %>
              <%= link_to((fa_icon "edit"), edit_department_path(department)) %>
              <%= link_to((fa_icon "trash"), department, method: :delete, data: { confirm: '¿Esta seguro que desea eliminar?' }) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

<div class="actions">
  <%= link_to 'Volver', :back, class: "btn btn-primary" %>
  <%= link_to 'Crear ' + Department.model_name.human.titleize, new_department_path, class: 'btn btn-success' %>
</div>
<!-- End Scaffold -->
